<% layout("layouts/boilerplate.ejs") -%>

<br />

<br /><br />
<form
  action="http://localhost:3030/blogs"
  method="post"
  enctype="multipart/form-data"
>
  <h3>Post a new Blog</h3>
  <br />
  <label for="title">Title :</label>
  <input
    type="text"
    name="title"
    id="title"
    placeholder="Enter Title"
    required
  />
  <label for="summary">Summary :</label>
  <input
    type="text"
    name="summary"
    id="summary"
    placeholder="Enter summary"
    required
  />
  <label for="content">Content :</label>
  <textarea name="content" id="content" rows="5" cols="15"></textarea>

  <label for="image">Upload Image : </label>
  <input type="file" name="image" id="image" required />
  <button type="submit" id="subBtn">Submit</button>
</form>
