<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>Blogs</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/footer.css">
    <link rel="stylesheet" href="/show.css">
</head>
<body>
    <%- include("../includes/navbar.ejs") -%>
    <%- include("../includes/flash.ejs") -%>
    <div class="container">
        
        <%- body -%>
    </div>
    <%- include("../includes/footer.ejs") -%>
    <!-- Include TinyMCE Script -->
  


</body>
</html>