<% layout("layouts/boilerplate.ejs") -%>
<style>
    .error {
        background-color: red;
        border-radius: 0.5rem;
        color: white;
        width: 40%;
        padding: 0.7rem;
        margin: 1rem auto;
    }
</style>

<div class="error">
    <h1><%= message %></h1>
</div>


